__pycache__/
.vscode/
evopie/DB_quizlib.sqlite*
mycookies
venv/
evopie/DB_quizlib-easy.sqlite
gradebooks.diff
gradebook-downloaded.csv
.DS_Store
evopie/evo.md
tests/students.csv
deca-spaces/*
results/*
algo/*
data
certs
figures
db.log
*.sqlite
*.sqlite-*
*.sqlite3
*.db
